.item{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    margin: 10px;
}

.item img{
    width: 100%;
    height: 150px;
}

.item img:hover{
}
.desc{
    width: 100%;
    padding: 10px;
}

.item .desc p{
    font-weight: bold;
    margin-bottom: 10px;
    text-overflow: hidden;
}
.item .desc button{
    width: 100%;
    border-radius: 5px;
    background-color: #0000ff;
    color: hsl(0, 0%, 100%);
    border: none;
}